.note {
    display: flex;
    word-break: break-all;
    margin-bottom: 30px;
}

.note img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border: 3px solid tomato;
    border-radius: 50%;
}

.note p {
    width: 80%;
    justify-self: center;
    margin-top: 0px;

}

.note:last-child {
    margin-bottom: 0;
}